*
{

}



body
{
	/*height:      29.7cm;*/
	/*min-height:  29.7cm;*/
	/*max-height:  29.7cm;*/

	width:       42cm;
	min-width:   42cm;
	max-width:   42cm;

	font-family: 'Arial';

	display: table;

	padding: 0;
	margin: 0 auto;
}

#hidden
{
	min-height: 25cm;

	position: absolute;
}

.paper .page-break
{
	page-break-before: always;
	/*page-break-before: always;*/
}

.paper .footer-small
{
	padding-top: 0.6cm;
	font-size: 8pt;

	text-align: center;
}

.paper .footer-small .left
{
	float: left;
	width: 50%;
}

.paper .footer-small .right
{
	width: 50%;
	display: inline-block;
}

.paper:last-child .footer-small
{
	display: none;
}

table
{
	font-size: 11pt;

	/*border-collapse: collapse;*/
	/*margin-bottom:   5px;*/

	/*display:         table;*/
	/*border-spacing:  2px;*/
	/*border-color:    gray;*/

	/*float:           left;*/
	/*margin-right:    5px;*/
}

.underline
{
	text-decoration: underline;
}

.clear
{
	clear: both;
}

.middle
{
	text-align: center;
}

/*.rotate-90*/
/*{*/
	/*-moz-transform:    rotate(90deg); *//* firefox            */
	/*transform:         rotate(90deg); *//* generic            */
	/*-webkit-transform: rotate(90deg); *//* safari, chrome etc */
	/*-ms-transform:     rotate(90deg); *//* ie8+               */
	/*-o-transform:      rotate(90deg); *//* opera              */
/*}*/

/*.rotate-270*/
/*{*/
	/*-moz-transform:    rotate(270deg); *//* firefox            */
	/*transform:         rotate(270deg); *//* generic            */
	/*-webkit-transform: rotate(270deg); *//* safari, chrome etc */
	/*-ms-transform:     rotate(270deg); *//* ie8+               */
	/*-o-transform:      rotate(270deg); *//* opera              */
/*}*/


#header
{
	padding-bottom: 0.2cm;
}

#header p
{
	line-height: 0.37cm;
}

#header td
{
	vertical-align: top;
}

#header .first
{
	width: 10cm;
}

#header .first .box
{
	padding-right: 1cm;
}

#header .second
{
	text-align: center;

	width: 22cm;
}

#header .third
{
	width: 10cm;
}

#header .third .box
{
	padding-left: 1cm;
}


#calendar
{
	padding: 0.1cm;
}

#calendar .left
{
	border-collapse: collapse;

	font-size: 9pt;

	width: 100%;

	float: left;
}

#calendar .left .empty,
#calendar .right .empty
{
	border: none;

	padding-bottom: 0.2cm;

	font-weight: bold;
}

#calendar .left th,
#calendar .left td,
#calendar .right th,
#calendar .right td
{
	border: 1px rgb(92, 92, 92) solid;

	text-align: center;

	width: 0.4cm;
	height: 0.5cm;
}

#calendar .right
{
	border-collapse: collapse;

	font-size: 9pt;

	width: 16cm;

	float: right;
}

#calendar .right th
{
	font-size: 8pt;

	height: 2.2cm;
	width: 14.27%;
}

#calendar .bottom
{
	width: 26cm;
}

#calendar .bottom table
{
	font-size: 8pt;

	margin: 0 auto;
	display: table;
}

#calendar .bottom table td
{
	padding-right: 0.3cm;
}

#calendar .bottom .box
{
	border: 1px rgba(0, 0, 0, 0.73) solid;
	width: 14px;
	display: inline-block;
	text-align: center;
	margin-right: 3px;
}

#calendar th.total
{
	padding: 0 2px;
}


#calendar input
{
	cursor: pointer!important;
}


.plan,
.summary
{
	width: 100%;

	margin-top: 1cm;

	border-collapse: collapse;
}

.plan th,
.plan td,
.summary th,
.summary td
{
	font-size: 8pt;

	border: 1px rgb(92, 92, 92) solid;

	text-align: center;

	width: 0.7cm;
}

/*.plan .rotate-270*/
/*{*/
	/*overflow: visible;*/

	/*transform:         rotate(270deg);*/
	/*-ms-transform:     rotate(270deg);*/
	/*-moz-transform:    rotate(270deg);*/
	/*-o-transform:      rotate(270deg);*/
	/*-webkit-transform: rotate(270deg);*/

	/*-moz-rotation-point:    0 0;*/
	/*-webkit-rotation-point: 0 0;*/

	/*-ms-writing-mode: tb-lr;*/
/*}*/


.plan    .rotate-box,
.summary .rotate-box
{
	width: 0.5cm;
	max-width: 0.5cm;
	height: 4.9cm;
	overflow: visible;
	position: relative;
}

.plan    .rotate-box.medium,
.summary .rotate-box.medium
{
	height: 4.0cm!important;
}

.plan    .rotate-box .rotate-270,
.summary .rotate-box .rotate-270
{
	width: 5.55cm;
	text-align: left;
	bottom: 2.75cm;
	position: absolute;
	left: -2.40cm;
}

.plan    .names,
.summary .names
{
	width: 7cm;
}

.plan    .small,
.summary .small
{
	width: 1cm;
}


#footer .notes
{
	padding-top: 1cm;

	font-size: 8pt;
}

#footer .notes p
{
	margin: 0;
	padding: 0;
}

#footer .authors
{
	padding-top: 1cm;
}

#footer .authors table
{
	width: 50%;

	font-size: 10pt;
}

#footer .authors table tr td:nth-child(1)
{
	text-align: justify;

	padding: 0.1cm;
	height: 1cm;
}

#footer .authors table tr td:nth-child(2)
{
	padding: 0 1cm;
}

#footer .authors .right
{
	float: right;
}

#footer .authors .left
{
	float: left;
}


.text-left
{
	text-align: left!important;
}

.no-wrap
{
	white-space: nowrap;
}


